// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
  background-image: url("/images/top_to.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

  .header-log {
    float: left;
  }

  .header-log h1 a {
    font-size: 45px;
    font-weight: 500;
    line-height: 65px;
    color:blue;
  }

  .header-nab {
    float: right;
  }

  .header-nab li {
    float: left;
    font-size: 30px;
    padding-left: 20px;
    font-weight: 400;
    line-height: 65px;
  }

 .head {
   width: 100%;
   height: 55px;
   text-align: center;
  }

  .center {
    height: 55px;
    width: 90%;
    display: inline-block;
  }

  .top-wrapper {
    text-align: center;
    width: 100%;
    padding: 180px 0px 100px 0px;
  }

  .top-wrapper h1 {
    font-size: 50px;
    color: black;
    font-weight: 600;
    margin: 20px auto;
  }
  .top-wrapper p {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 20px auto;
  }


  #nav{
  position: absolute;
  height: 300px;
  width: 35%;
  right: -40%; /* 変更 */
  top: 0;
  background: #ffffff;
  transition: .7s;
}
#nav ul{
  padding-top: 80px;
}
#nav ul li{
  list-style-type: none;
}
#hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px; /* 変更 */
  width: 50px;
  height: 44px;
  transition: 1s;
}
.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #000000;
  transition: 1s;
  border-radius: 4px;
}
#line1 {
  top: 0;
}
#line2 {
  top: 20px;
}
#line3 {
  bottom: 0px;
}

.in{
  transform: translateX(-100%); /* 変更 */
}
.line_1,.line_2,.line_3{
  background: #000000;
}
.line_1 {
  transform: translateY(20px) rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: translateY(-20px) rotate(45deg);
  bottom: 0;
}



@media (max-width: 1000px) {
  #hamburger {
    display: block;
  }
    .header-nab {display:none}
    .header-nav {display:none}
}
