// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover {
  background-image: url("/images/top_to.png");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

  .header-log {
    float: left;
  }

  .header-log h1 a {
    font-size: 45px;
    font-weight: 500;
    line-height: 65px;
  }

  .header-nab {
    float: right;
  }

  .header-nab li {
    float: left;
    font-size: 30px;
    padding-left: 20px;
    font-weight: 400;
    line-height: 65px;
  }

 .head {
   width: 100%;
   height: 55px;
   text-align: center;
  }

  .center {
    height: 55px;
    width: 90%;
    display: inline-block;
  }

  .top-wrapper {
    text-align: center;
    width: 100%;
    padding: 180px 0px 100px 0px;
  }

  .top-wrapper h1 {
    font-size: 50px;
    color: black;
    font-weight: 600;
    margin: 20px auto;
  }
  .top-wrapper p {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 20px auto;
  }


  #nav{
    z-index: 1;
    float: right;
    margin-right: 10px;
  }
  #nav ul{
    text-align: left;
  }
  #nav ul li{
  padding: 5px 10px;
  list-style-type: none;
}
#hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 22px;
  transition: 1s;
}
.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: #000000;
  transition: 1s;
  border-radius: 4px;
}
#line1 {
  top: 0;
}
#line2 {
  top: 10px;
}
#line3 {
  bottom: 1px;
}


.line_1,.line_2,.line_3{
  background: #000000;
}
.line_1 {
  transform: translateY(10px) rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: translateY(-10px) rotate(45deg);
  bottom: 0;
}



@media (max-width: 1000px) {
  #hamburger {
    display: block;
  }
    .header-nab {display:none}
    .header-nav {display:none}
}
@media (min-width: 1000px) {
  #nav ul{
    display: none;
  }
}

@media all and (max-width: 670px) {
  .header-log {
    float: left;
  }
  .header-log h1 a {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
  }
  .head {
   width: 100%;
   height: 5px;
   text-align: center;
  }
  .center {
    width: 100%;
    display: inline-block;
  }
  .top-wrapper {
    text-align: left;
    width: 100%;
    padding: 80px 0px;
  }
  .top-wrapper h1 {
    font-size: 35px;
    color: black;
    font-weight: 600;
  }
  .top-wrapper p {
    text-align: left;
    font-size: 20px;
    color: black;
    font-weight: 500;
  }
  }
